################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/WpfApp1/obj/Debug/net6.0-windows/WpfApp1.designer.deps.json
/WpfApp1/obj/Debug/net6.0-windows/WpfApp1.designer.runtimeconfig.json
C:\Users\Sarah\Documents\GitHub\CyclingApp\.vs\WpfApp1\DesignTimeBuild	

/.vs/CyclingApp/v17
/.vs/WpfApp1/FileContentIndex
